body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select {
    padding: 12px;           
    font-size: 18px;            
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown select:focus {
    outline: none;
    border-color: #4CAF50;
}

.dropdown button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #45a049;
}
.container {
    display: flex; /* Use Flexbox layout */
    align-items: center; /* Vertically center the items */
    margin: 0 auto;
}

.instructions {
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
}

.header img {
    height: 400px;    
    width: auto;        /* Make the image take the full width of the page */
}

.wrapper{
    width:900px; /* specify your width here */
    text-align: left;
    margin: auto;
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column; /* Stack the header and instructions vertically */
            align-items: center; /* Center align items */
            text-align: center; /* Center text in both header and instructions */
        }
    
        .header img {
            width: 350px;
            height: auto;
        }
    
        .instructions {
            padding: 3%;
        }
    
        .dropdown {
            width: 90%; /* Make dropdown take full width on small screens */
            text-align: center;
        }
        .wrapper {
            width:400px;
        }
        h1 {
            text-align: center;
        }
    }
